@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200; 1.300;1.400;1.500;1.600;1.700;1.800;1.900&display=swap');

body{
    font-family: "Kanit", sans-serif;
    font-weight: 300;
    font-style: normal;
    margin: 0;
    padding: 0;
    background-color: #121212;
    color: #e0e0e0;
}

body.fleuma {
    background-color: #0765e2;
    color: #0765e2;
}

body.fleuma .conteiner{
    background-color: #c4d8f4;
}

body.fleuma p {
    color: #20457c;
}

body.fleuma #resultado{
    background: #9bbde8;
    color: #0765e2;
}

body.sanguineo {
    background-color: #f7b96a;
}

body.sanguineo .conteiner{
    background-color: #f9d5a1;
    color: #8b572a;
}

body.sanguineo p{
    color: #8b572a;
}

body.sanguineo #resultado{
    background: #f9d5a1; /* Cor mais clara */
    color: #8b572a;
}

body.colerico {
    background-color: #fb050d;
}

body.colerico .conteiner{
    background-color: #fc8589;
}

body.colerico p {
    color: #fb050d;
}

body.colerico #resultado{
    background: #ffcccb;
    color:  #fb050d;
}


body.melancolico {
    background-color: #069c07;
}

body.melancolico .conteiner{
    background-color: #80d580;
}

body.melancolico p {
    color: #069c07;
}

body.melancolico #resultado{
    background:  #e5ffe5;
    color: #069c07;
}

.inicialh2{
    color: red;
}

.inicialP{
    background-color:#2e2e2e; 
    padding: 15px;
    border-radius: 10px;
    color: #20457c;
}

.alertaspan{
    display: block;
    margin-top: 15px;
}

.obs{
    display: block;
    margin-top: 15px;
    color: orange;
    padding: 8px;
}



.conteiner{
    width: 90%;
    max-width: 800px;
    margin: 100px auto;
    margin-top: 200px;
    padding: 10px;
    text-align: center;
    background-color: #1e1e1e;
    border-radius: 10px;
}


h1{
    font-size: 2em;
    text-align: center;
}

p {
    background-color: #e9ecef;
    padding: 15px;
    border-radius: 10px;
    color: black;
    transition: background-color 0.3s, color 0.3s;
}

#opcoesconteiner{
    margin-bottom: 20px;
}

#opcoesconteiner button{
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 1em;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: backgroud-color 0.3s ease;
    font-size: 1em;
    color: white;
    background-color: #0056b3;
}



#iniciartestebtn{
    display: block;
    width: 40%;
    height: 40px;
    border: none;
    border-radius: 50px;
    font-family: "Kanit", sans-serif;
    font-weight: 600;
    font-style: normal;
    padding: 10px;
    margin: 50px auto;
    background-color: #007BFF;
    color: white;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover{
    background-color: #0a0a0a
}

button:active{
    background-color: #0f0f0f;
}

#resultado{
    margin-top: 0px; /* Aumente a margem superior conforme necessário */
    padding: 2em; /* Ajuste conforme necessário */
    text-align: center;
    border-radius: 5px;
    visibility: hidden;
    overflow: auto;
    background: #9bbde8;
}

#chamarformsbtn{
    background-color: purple;
    color: white;
    border: none;
    padding: 15px;
    border-radius: 30px;
    transition: 0.3s ease-in-out;
}

#chamarformsbtn:hover{
    background-color: blueviolet;
}

ul{
  list-style-type: square; /* Estilo dos marcadores */
  padding-left: 20px; /* Espaçamento à esquerda */
}
  
 li{
  margin-bottom: 15px; /* Espaçamento entre os itens da lista */
 }