@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200; 1.300;1.400;1.500;1.600;1.700;1.800;1.900&display=swap');

body{
    font-family: "Kanit", sans-serif;
    font-weight: 300;
    font-style: normal;
    margin: 0;
    padding: 0;
    background-color: white;
}

.conteiner{
    width: 90%;
    max-width: 800px;
    margin: 100px auto;
    margin-top: 200px;
    padding: 10px;
    text-align: center;
}

h1{
    font-size: 2em;
    text-align: center;
}

#opcoesconteiner{
    margin-bottom: 20px;
}

#opcoesconteiner button{
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 1em;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: backgroud-color 0.3s ease;
    font-size: 1em;
    color: white;
    background-color: #007BFF;

}


#iniciartestebtn{
    display: block;
    width: 40%;
    height: 40px;
    border: none;
    border-radius: 50px;
    font-family: "Kanit", sans-serif;
    font-weight: 600;
    font-style: normal;
    padding: 10px;
    margin: 10px auto;
    background-color: #007BFF;
    color: white;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover{
    background-color: #021830;;
}

button:active{
    background-color: #031324;
}

#resultado{
    margin-top: 0px; /* Aumente a margem superior conforme necessário */
    padding: 2em; /* Ajuste conforme necessário */
    background: #e9ecef;
    text-align: center;
    border-radius: 5px;
    visibility: hidden;
    color: black;
    overflow: auto;
}